mixin form(index)
  - var formClass = 'form--' + index;
  - var id1 = 'radio-button-' + index + '-1';
  - var id2 = 'radio-button-' + index + '-2';
  - var id3 = 'radio-button-' + index + '-3';
  - var id4 = 'radio-button-' + index + '-4';
  - var id5 = 'radio-button-' + index + '-5';
  - var id6 = 'radio-button-' + index + '-6';
  - var id7 = 'radio-button-' + index + '-7';
  - var id8 = 'radio-button-' + index + '-8';
  - var id9 = 'radio-button-' + index + '-9';
  - var id10 = 'radio-button-' + index + '-10';
  - var id11 = 'radio-button-' + index + '-11';
  - var id12 = 'radio-button-' + index + '-12';
  form(class=formClass)
    .form__group
      .form__header Направление слайдера
      .form__row
        .form__input-group 
          input(class="form__input" type="radio" name="isVertical" value="true" id=id1 checked)
          label.form__label(for=id1) Горизонтальное
        .form__input-group
          input(class="form__input" type="radio" name="isVertical" value="false" id=id2)
          label.form__label(for=id2) Вертикальное
    .form__group
      .form__header Количество значений
      .form__row
        .form__input-group 
          input(class="form__input" type="radio" name="valueAmount" value="two" id=id3 checked)
          label.form__label(for=id3) Два
        .form__input-group
          input(class="form__input" type="radio" name="valueAmount" value="one" id=id4)
          label.form__label(for=id4) Одно
    .form__group
      .form__header Работа с числами / строками
      .form__row
        .form__input-group 
          input(class="form__input" type="radio" name="data-type" value="strings" id=id5 checked)
          label.form__label(for=id5) числа
        .form__input-group
          input(class="form__input" type="radio" name="data-type" value="numbers" id=id6)
          label.form__label(for=id6) строки
    .form__group
      .form__header Диапазон значений чисел
      .form__row
        .form__input-group 
          input(class="form__input form__input--for-numbers" type="radio" name="range" value="0-100" id=id7 checked)
          label.form__label(for=id7) 0 - 100
        .form__input-group
          input(class="form__input form__input--for-numbers" type="radio" name="range" value="-60-120" id=id8)
          label.form__label(for=id8) -60 - 120
    .form__group
      .form__header Шаг слайдера (для чисел)
      .form__row
        .form__input-group 
          input(class="form__input form__input--for-numbers" type="radio" name="step" value="1" id=id9 checked)
          label.form__label(for=id9) 1
        .form__input-group
          input(class="form__input form__input--for-numbers" type="radio" name="step" value="5" id=id10)
          label.form__label(for=id10) 5
        .form__input-group
          input(class="form__input form__input--for-numbers" type="radio" name="step" value="0.2" id=id11)
          label.form__label(for=id11) 0.2
    
        


      